{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Lynn Hong" />
    <meta name="description" content="서교동성당 청년봉사단체 W.I.T.H" />
    <meta property="og:image" content="{% static 'images/thumbnail/with_website_official_thumbnail_simiple.png' %}" />
    <meta itemprop="image" content="{% static 'images/thumbnail/with_website_official_thumbnail_simiple.png' %}" />
    <meta property=”og:type” content=”website”/>
    <!-- Document title -->
    <title>W.I.T.H 서교동성당 청년봉사단체 | {{ page_title }}</title>
    <!-- favicon & app icons -->
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="android-chrome" sizes="96x96" href="{% static 'favicon/android-chrome-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#00bcd4">
    <meta name="apple-mobile-web-app-title" content="withlove">
    <meta name="application-name" content="withlove">
    <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}" />
    <meta name="msapplication-TileImage" content="{% static 'favicon/mstile-150x150.png' %}">
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="theme-color" content="#ffffff">
    <!-- Stylesheets & Fonts -->
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f4fde1205d.js"></script>
    <link href="{% static 'css/my.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script>
        //paste this code under the head tag or in a separate js file.
        // Wait for window load
        $(window).load(function() {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");
        });
    </script>
</head>


<body>
<div class="se-pre-con"></div>
    <!-- calendar -->
    <link href="{% static 'fullcalendar-3.9.0/fullcalendar.min.css' %}" rel='stylesheet' />
    <link href="{% static 'fullcalendar-3.9.0/fullcalendar.print.min.css' %}" rel='stylesheet' media='print' />
    <link href="{% static 'fullcalendar-3.9.0/lib/jquery-ui.css' %}" rel='stylesheet' />
    <link href="{% static 'fullcalendar-scheduler-1.9.3/scheduler.css' %}" rel='stylesheet' />

    <script src="{% static 'fullcalendar-3.9.0/lib/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    <script src="{% static 'fullcalendar-3.9.0/lib/jquery-ui.min.js' %}"></script>
    <script src="{% static 'fullcalendar-3.9.0/lib/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar-3.9.0/fullcalendar.min.js' %}"></script>
    <script src="{% static 'fullcalendar-scheduler-1.9.3/scheduler.js' %}"></script>

    <!-- Body Inner -->
    <div class="body-inner">


    <!-- Header -->
    <header id="header" data-transparent="true" class="dark">
    <div class="header-inner" id="header-inner">
        <div class="container">
            <!--Logo-->
            <div id="logo">
                <a href={% url 'index' %} class="logo" data-src-dark="{% static 'images/with/plain_vertical_white_100h.png' %}">
                    <img id="main-logo"
                         src="{% static 'images/with/plain_vertical_black_100h.png' %}"
                         style="vertical-align: middle; width: 220px; height: auto;"
                         alt="W.I.T.H Logo">
                </a>
            </div>
            <!--End: Logo-->

            <!-- Search -->
            <div id="search">
                <div id="search-logo"><img src="{% static 'images/with/plain_vertical_white_100h.png' %}" alt="W.I.T.H Logo"></div>
                <button id="btn-search-close" class="btn-search-close" aria-label="Close search form">
                    <i class="icon-x"></i></button>
                <form class="search-form" action="search-results-page.html" method="get">
                    <input class="form-control" name="q" type="search" placeholder="Search..."
                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                    <span class="text-muted">Start typing & press "Enter" or "ESC" to close</span>
                </form>
            </div>
            <!-- end: search -->


            <!--Navigation Resposnive Trigger-->
            <div id="mainMenu-trigger">
                <button class="lines-button x"> <span class="lines"></span> </button>
            </div>
            <!--end: Navigation Resposnive Trigger-->

            <!--Navigation-->
            <div id="mainMenu" class="light">
                <div class="container">
                    <nav>
                        <ul>
                            {% if user.is_authenticated %}
                              <li><a style="color: #00bcd4;">{{ user.name }} {{ user.baptismal_name }} 님</a></li>
                            {% endif %}
                            <li class="dropdown"> <a href="#">단체 소개</a>
                                <ul class="dropdown-menu">
                                    <li style="color: gray;"><a href={% url 'info' %}>소개&연혁</a></li>
                                    <li><a href={% url 'managers' %}>역대 운영진</a></li>
                                    <li><a href={% url 'members' %}>단원 현황</a></li>
                                    <li><a href={% url 'faq' %}>FAQ</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href={% url 'index' %}#application>봉사&행사 신청</a></li>
                            <!--<li class="dropdown"> <a href={% url 'index' %}#kakao>카톡 알림 신청</a>
                                <ul class="dropdown-menu">
                                    <li><a href={% url 'kakao' %}>카톡 인증 및 신청</a></li>
                                </ul>
                            </li>-->
                            <li>
                                <a href={% url 'calendar' %}>
                                    캘린더
                                    {% if user.is_authenticated %}
                                        (<span style="color: #00bcd4;">출첵</span>)
                                    {% endif %}
                                </a>
                            </li>
                            {% if user.is_authenticated %}
                                <li>
                                    <a href="{% url 'download' %}">
                                        <span style="color: #00bcd4;">통계</span>
                                    </a>
                                </li>
                                <li><a href="{% url 'logout' %}" style="color: #00bcd4;">logout</a></li>
                            {% else %}
                                <li>
                                    <a href="{% url 'login' %}">관리자 login
                                        <i class="fa fa-exclamation" aria-hidden="true" style="color: #00bcd4;"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <!--end: Navigation-->
        </div>
    </div>
    </header>
    <!-- end: Header -->


    {% block page_content %}
    {% endblock %}


    <!-- Footer -->
    <footer id="footer">
        <div class="copyright-content">
            <div class="container">
                <div class="copyright-text text-center">
                    <script type="text/javascript">
                        var date=new Date(),
                          year = date.getFullYear(),
                          text = "&copy; " + year + " W.I.T.H - " +
                              "Made by <a class='skyblue' href='https://www.facebook.com/sulynhong' target='_blank'>" +
                              "Lynn Hong" +
                              "</a>. All Rights Reserved.",
                          html = text;
                        document.write(html);
                    </script>
                </div>
                <div class="copyright-text text-center">
                    Powered by
                    <a class='skyblue' href="https://www.djangoproject.com/" target="_blank">
                        python Django</a> +
                    <a class='skyblue' href="https://uwsgi-docs.readthedocs.io/en/latest/" target="_blank">
                        uWSGI</a> +
                    <a class='skyblue' href="https://nginx.org/en/" target="_blank">
                        Nginx</a>.
                </div>
                <div class="text-center tmargin15 font3times">
                    <a href="https://github.com/lynn-hong/with_website" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCaFt5Pnk7t3CUVDEGDinqOg" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="mailto:with.seokyo@gmail.com" target="_blank">
                        <i class="fas fa-at"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
<a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>





    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

     <!--Plugins-->
     <script src="{% static 'js/plugins.js' %}"></script>


    <!--Template functions-->
    <script src="{% static 'js/functions.js' %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165397457-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-165397457-1');
    </script>

</body>

</html>
