{% extends "website/base.html" %}
{% load staticfiles %}


{% block page_content %}

    <!-- Page title -->
    <section id="page-title">
        <div class="container">
            <div class="page-title">
                <h2>{{ page_title }}</h2>
            </div>
        </div>
    </section>
    <!-- end: Page title -->


    {% include "website/base_page_menu.html" %}


    <!-- FAQ -->
    <section id="faq">
        <div class="container">
            <div class="row">
                {% for faq in faqs %}
                <div class="col-lg-6 tmargin15">
                    <h3>{{ faq.title }} <small>({{ faq.faqs|length }})</small></h3>
                    <p>{{ faq.meaning }}</p>
                    <div class="accordion toggle fancy radius clean">
                        {% for f in faq.faqs %}
                        <div class="ac-item">
                            <h5 class="ac-title"><i class="fa fa-question-circle"></i>
                                {{ f.title }}
                            </h5>
                            <div style="" class="ac-content">
                                {{ f.body|linebreaksbr }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- end: FAQ -->


    <script>
        document.getElementById('header').setAttribute("data-transparent", "false");
    </script>

{% endblock %}
