{% extends "website/base.html" %}
{% load staticfiles %}


{% block page_content %}
    <script>
        // 봉사 신청 submit
        applySubmit = function(){
            var data = $('#apply_form').serializeArray();
            $.ajax({
                type: "POST",
                url: {% url 'apply' %},
                data: data,
                beforeSend: function(){
                    $('#modal_footer').html("<img src={% static 'preloader/loader_icon.gif' %} /> 신청이 진행중입니다!");
                },
                success: function(response){ location.replace( {% url 'thankyou' %} )},
            });
        }

        $("body").on("submit", "form", function() {
            $(this).submit(function() {
                return false;
            });
            return true;
        });

        preparing = function() {
            alert("현재 기능 준비중입니다. 곧 오픈하겠습니다!")
        }
    </script>


    <!-- Inspiro Slider -->
    <div id="slider"
         class="inspiro-slider slider-fullscreen arrows-large arrows-creative dots-creative"
         data-height-xs="360" style="top: -80px; bottom: -80px;">
        <!-- Slide 1 -->
        <div class="slide background-overlay-dark kenburns" data-parallax-image="static/images/with/home_landing.jpg"
        style="opacity: 0.6">
            <div class="container">
                <div class="slide-captions text-light">
                    <!-- Captions -->
                    <span data-animate="fadeInUp" data-animate-delay="300"
                          class="strong" style="padding-top:16%;">
                        <a href="#" class="business">
                            <span class="business">Join us</span>
                        </a>
                    </span>
                    <h1 data-animate="fadeInUp" data-animate-delay="600">
                        서교동성당 청년봉사단체<br>W.I.T.H
                    </h1>
                    <div data-animate="fadeInUp" data-animate-delay="900">
                        <button type="button"
                                onclick="location.href='{% url 'info' %}';"
                                class="btn btn-rounded btn-reveal btn-reveal-left">
                            <span>Learn More</span>
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                    <!-- end: Captions -->
                    <div class="row" style="padding-top: 14%;">
                        <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="1200">
                            <h4>진심을 담은 봉사</h4>
                            <p>지상에서 함께 살아가는 많은 이들과 고통을 함께 나누며 진심으로 낮은 자리에서 봉사를 실천합니다</p>
                        </div>
                        <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="1500">
                            <h4>주님 사랑의 매개체</h4>
                            <p>지역 공동체에 하느님의 사랑을 전파하는 매개체가 되고자 합니다</p>
                        </div>
                        <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="1800">
                            <h4>즐거운 청년 공간</h4>
                            <p>봉사할 때는 봉사하고 놀 때는 놀 줄 아는 시끌벅적한 청년들이 모인 곳입니다</p>
                        </div>
                        <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="2100">
                            <h4>여러분과 함께하는 W.I.T.H</h4>
                            <p>따뜻한 마음을 가진 누구에게나 열려 있습니다. 궁금한 점은 언제든지 문의 주세요!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: Slide 1 -->
    </div>
    <!--end: Inspiro Slider -->



    <!-- upcoming event -->
    <section id="page-content content background-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <h2>Upcoming events
                        <a class="btn btn" onClick='location.href="{% url 'calendar' %}"'>캘린더 보기</a></h2>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Upcoming volunteer opportunities</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                        {% for uv in upcoming_volunteers %}
                            <li class="list-group-item">
                                [{{ uv.a_type }}] {{ uv.title }}: {{ uv.s_date|date:"Y-m-d" }} ({{ uv.location }})
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Upcoming events</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                        {% for ue in upcoming_events %}
                            <li class="list-group-item">
                                [{{ ue.a_type }}] {{ ue.title }}: {{ ue.s_date|date:"Y-m-d" }} ({{ ue.location }})
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- start: 입단 프로세스 -->
    <section class="box-fancy text-light background-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="col-lg-2 text-center" data-animate="fadeInUp" data-animate-delay="200">
                        <div class="heading-text heading-section">
                            <h1 class="text-medium">How to join</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="row">
                    <div class="col-lg-4 text-center" data-animate="fadeInUp" data-animate-delay="400">
                        <h1 class="text-lg text-uppercase">01.</h1>
                        <h3>봉사 3회 참여</h3>
                        <span>게스트 상태로 봉사에 3회 이상 참여하신 후에 입단 신청을 하실 수 있습니다.</span>
                    </div>
                    <div class="col-lg-4 text-center" data-animate="fadeInUp" data-animate-delay="600">
                        <h1 class="text-lg text-uppercase">02.</h1>
                        <h3>입단 신청서 작성</h3>
                        <span>입단 신청서는 홈페이지의 게시판 > 자료게시판에서 확인하실 수 있습니다.</span>
                    </div>
                    <div class="col-lg-4 text-center" data-animate="fadeInUp" data-animate-delay="800">
                        <h1 class="text-lg text-uppercase">03.</h1>
                        <h3>입단 승인</h3>
                        <span>필요 시 청년 담당 신부님의 면담을 거친 뒤 입단이 승인됩니다. 2개월의 준단원 기간을 거쳐 정단원으로 승격됩니다.</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end: 입단 프로세스 -->



    <!-- 봉사 및 행사 신청 -->
    <section class="p-t-100 p-b-120" id="application">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 center">
                    <div class="heading-text heading-section text-center" data-animate="fadeInUp">
                        <h4>봉사 및 행사 신청</h4>
                        <h2>나는 네가 한 일을, <br/>너의 사랑과 믿음과 봉사와 인내를 안다.</h2>
                        <p class="lead">나눔의 집 봉사는 온라인으로 신청받지 않습니다. 대표봉사자에게 별도 문의 부탁드립니다!</p>
                        <p class="lead">
                            단원이 아닌 <strong>게스트 분들은 운영진을 통해 신청</strong> 가능합니다!<br/>
                            문의사항이 있으시면
                            <a href="mailto:with.seokyo@gmail.com" target="_blank" style="color: #00bcd4;">대표 이메일</a>
                            로 연락 부탁드립니다 :)
                        </p>
                        <a class="btn btn-default btn-lg" data-target="#modal-3" data-toggle="modal" href="#">참석 신청하러 가기</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end: 봉사 및 행사 신청 -->


    <!-- 봉사 및 행사 신청 modal -->
    <div class="modal fade" id="modal-3" tabindex="-1" role="modal" aria-labelledby="modal-label-3"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="modal-label-3" class="modal-title">봉사 및 행사 신청</h3>
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                </div>
                <div class="modal-body">
                    <div class="row mb20">
                        <div class="col-md-12">
                            <p>* 신청이 완료된 사람은 목록에 이름이 뜨지 않습니다.</p>
                            <p>* 오늘 날짜 이후의 봉사 일정만 신청 가능합니다.</p>
                            <p>* 각 봉사처 설명과 가이드라인 다운로드로 가시려면 x를 누르고 바로 아래로 내려가주세요.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 xs-box">
                            <h4>위드 단원 or 게스트 선택</h4>
                            <form name="apply_form" id="apply_form">
                                <select id="category_dropdown" name="cat_id">
                                    <option selected value="with">위드 단원</option>
                                    {% if user.is_authenticated %}
                                    <option value="guest">게스트</option>
                                    {% endif %}
                                </select>
                            <h4 class="tmargin25">신청자 선택</h4>
                                {% csrf_token %}
                                <select id="member_id_dropdown" name="member_id">
                                    <option disabled selected value>위드 단원: 이름을 선택해주세요</option>
                                    <option disabled>────────────</option>
                                    {% for member in members %}
                                        {% if member.get_member_status_display == '휴단원' %}
                                            <option value={{ member.id }}>{{ member.name }} {{ member.baptismal_name }} ({{ member.get_member_status_display }})</option>
                                        {% else %}
                                            <option value={{ member.id }}>{{ member.name }} {{ member.baptismal_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <select id="guest_id_dropdown" name="guest_id" style="display:none;">
                                    <option disabled selected value>게스트: 이름을 선택해주세요</option>
                                    <option disabled>────────────</option>
                                    <option value="new">*** 목록에 이름이 없어요! (신규 봉사자 등록)</option>
                                    {% for guest in guests %}
                                        {% if guest.recommender != None %}
                                            <option value={{ guest.id }}>{{ guest.name }} {{ guest.baptismal_name }} (invited by {{ guest.recommender.name }} {{ guest.recommender.baptismal_name }})</option>
                                        {% else %}
                                            <option value={{ guest.id }}>{{ guest.name }} {{ guest.baptismal_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <div id="new_member" style="display:none;">
                                    <hr class="tmargin25" />
                                    <h4 class="tmargin5 bold">* 신규 봉사자 등록</h4>
                                    <p>처음 1회만 등록하시면 이후부터는 게스트 목록에서 이름을 선택하실 수 있습니다 :)</p>
                                    <input type="text" id="new_name" name="new_name"
                                           placeholder="* 이름"
                                           class="bmargin5 width100">
                                    <input type="text" id="new_baptismal_name" name="new_baptismal_name"
                                           placeholder="* 세례명(없을 경우 비워 둠)"
                                           class="bmargin5 width100">
                                    <input type="tel" id="new_contact" name="new_contact"
                                           class="bmargin5 width100"
                                           pattern="[0-9]{3}[0-9]{4}[0-9]{4}"
                                           placeholder="* 연락처(하이픈 없이 숫자만 기입)">
                                    <select id="gender_dropdown" name="gender_dropdown" class="bmargin5">
                                        <option disabled selected value>* 성별을 알려주세요!</option>
                                        <option disabled>────────────</option>
                                        <option value=0>자매님</option>
                                        <option value=1>형제님</option>
                                    </select>
                                    <select id="recommender_dropdown" name="recommender_dropdown">
                                        <option disabled selected value>* 누구 소개로 봉사를 신청하시는지 알려주세요!</option>
                                        <option disabled>────────────</option>
                                        <option value='dont_know'>*** 잘 모르겠어요 ㅜ.ㅜ</option>
                                        {% for member in all_members %}
                                            <option value={{ member.id }}>{{ member.name }} {{ member.baptismal_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <hr class="tmargin25" />
                                </div>
                                <div id="event_select_div"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="modal_footer">
                    <button class="btn btn-b" type="button" onclick="validate()">제출</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end: 봉사신청 modal -->




    <!-- 카톡 알림신청(call-to-action border)
    <section id="kakao"
             class="background-overlay-dark p-t-50 p-b-50">
        <div class="container xs-text-center sm-text-center text-light">
            <div class="row call-to-action">
                <div class="col-lg-9">
                    <h3>
                        <img src="{% static 'icon/me_appicon_en.png' %}" style="height: 1.2em;"/>
                        카카오톡 알림 신청 (봉사 알리미) : 준비중
                    </h3>
                    <p>
                        신청하신 일정의 D-1 리마인드, 자신의 월간 봉사 신청 현황 등을 카카오톡으로 받아보실 수 있어요!
                    </p>
                    <p>
                        최초 1회 인증이 필요합니다. 자세히 알아보시려면 '카톡 인증' 버튼을 눌러주세요.
                    </p>
                </div>
                <div class="col-lg-3">
                    <a class="btn btn-light" onClick="preparing();">카톡 인증하러 가기</a>
                </div>
            </div>
        </div>
    </section>
     <!-- end: 카톡 알림신청 -->






    <script>
        // 위드 단원인지 게스트인지 여부에 따라 드랍다운 메뉴가 달라지도록 함
        $('#category_dropdown').on('change', function() {
          if(this.value === "with") {
            $('#member_id_dropdown').show();
            $('#guest_id_dropdown').hide();
            $('#new_member').hide();
          } else {
            $('#member_id_dropdown').hide();
            $('#guest_id_dropdown').show();
          }
        });

        // 신규 봉사자인 경우 신규 등록 폼이 함께 뜨도록 함
        $('#guest_id_dropdown').on('change', function() {
          if(this.value === "new") {
            $('#new_member').show();
          } else {
            $('#new_member').hide();
          }
        });

        // 중복 제출을 막기 위한 jQuery plugin
        jQuery.fn.preventDoubleSubmission = function() {
          $(this).on('submit',function(e){
            var $form = $(this);

            if ($form.data('submitted') === true) {
              // Previously submitted - don't submit again
              e.preventDefault();
            } else {
              // Mark it so that the next submit can be ignored
              $form.data('submitted', true);
            }
          });
          // Keep chainability
          return this;
        };

        // final check popup before submit
        function validate(form) {
            var volunteer_category = $("#category_dropdown").val();
            var member_id = $("#member_id_dropdown").val();
            var guest_id = $("#guest_id_dropdown").val();
            if ( (volunteer_category === 'with' && member_id === null) ||  // 봉사자 이름을 선택하지 않은 경우
                (volunteer_category === 'guest' && guest_id === null) ) {
                alert('앗, 봉사 신청자의 이름이 선택되지 않았어요!');
                return false;
            } else if (volunteer_category === 'guest' && guest_id === 'new') {  // 신규 봉사자
                var new_name = $("#new_name").val();
                var new_baptismal_name = $("#new_baptismal_name").val();
                var new_contact = $("#new_contact").val();
                var new_gender = $("#gender_dropdown").val();
                var recommender = $("#recommender_dropdown").val();
                if (new_name === '') {
                    alert('앗, 신규 봉사자님 이름을 알려주세요!');
                    return false;
                } else if (new_contact === '') {
                    alert('앗 신규 봉사자 <' + new_name + ' ' + new_baptismal_name + '>님, 연락처를 알려주세요!\n하이픈 없이 숫자만 기입해주세요!');
                    return false;
                } else if (new_gender === null) {
                    alert('앗 신규 봉사자 <' + new_name + ' ' + new_baptismal_name + '>님, 형제님인지 자매님인지를 알려주세요!');
                    return false;
                } else if (recommender == null) {
                    alert('앗, 위드를 소개해 준 추천인 이름이 선택되지 않았어요!\n추천인을 잘 모르겠으면 "잘 모르겠어요"를 선택해주세요!');
                    return false;
                }
            }
            // 제출 직전 팝업 메시지 창
            var check_message = "아래와 같은 내용으로 제출하시겠어요?\n이름과 신청 내용을 다시 한번 확인해주세요 :)\n미정으로 선택하시면 추후 참&불참 확인 연락 드립니다!\n\n";
            var my_name = "";
            if (volunteer_category === 'with') {
                my_name = $("#member_id_dropdown option:selected").text();  // 위드 단원
            } else if (volunteer_category === 'guest') {
                if (guest_id !== 'new') {
                    my_name = $("#guest_id_dropdown option:selected").text(); // 게스트 기존
                } else {
                    my_name = $("#new_name").val() + ' ' + $("#new_baptismal_name").val();  // 게스트 신규
                }
            }
            check_message += "* 봉사자 이름: <" + my_name + ">\n";
            if (volunteer_category === 'guest' && guest_id === 'new') {  // 신규 봉사자
                check_message += "* 연락처: " + new_contact + "\n";
                check_message += "* 추천인: " + $("#recommender_dropdown option:selected").text() + "\n\n";
            } else {
                check_message += "\n"
            }
            {% for app_event in app_events %}
                var selected_option = $("#application_id_dropdown-{{app_event.id}} option:selected");
                if (selected_option.val() !== undefined) {
                    check_message += "- [{{ app_event.a.title }}] {{ app_event.title }} ({{ app_event.s_date|date:"m/d" }}): "
                    check_message += selected_option.text() + '\n';
                }
            {% endfor %}
            if ( confirm(check_message) === false ) {
               return false;   // cancel
            } else {
               applySubmit();  // form submit
            }
        }


        // 선택된 멤버에 따라 선택할 수 있는 이벤트 옵션을 바꿔주는 부분
        function create_event_options(result) {
            var events_div = $("div#event_select_div");
            events_div.empty();
            for (var i = result.length - 1; i >= 0; i--) {
                events_div.append('<h4 class="tmargin25">[' + result[i].a_title + '] ' + result[i].title + ' (' + result[i].s_date + ')</h4>');
                events_div.append('<p class="tmargin25">시간: ' + result[i].s_time + ' ~ ' + result[i].e_time + '</p>');
                if (result[i].alert !== null) {
                    events_div.append('<p style="color: ' + result[i].alert_color + ';">* ' + result[i].alert + '</p>');
                }
                events_div.append('<select id="application_id_dropdown-' + result[i].id + '\" name=\"app_id-' + result[i].id + '\">)');
                var target_dropdown = $("select#application_id_dropdown-" + result[i].id);
                if (result[i].is_simple == true) {
                    {% for app_choice in app_choices_simple %}
                        target_dropdown.append('<option value='+{{ app_choice.value }}+'>{{ app_choice.name }}</option>');
                    {% endfor %}

                } else {
                    {% for app_choice in app_choices %}
                        target_dropdown.append('<option value='+{{ app_choice.value }}+'>{{ app_choice.name }}</option>');
                    {% endfor %}
                }
            }
        }


        // request를 보내 interactive하게 선택할 수 있는 option들을 받아 옴
        function send_request_to_get_event_options(member_id, member_category){
             var member_data = {"member_id" : member_id,
                                "member_category": member_category};
             $.ajax(
                 {
                    "contentType": "application/json; charset=utf-8",
                    "data": member_data,
                    "url" : "/get_events/",
                    "type": "GET",
                    "success": function(result) {
                        create_event_options(result)
                    }
                 })
            }


        // 위드 단원, 게스트 여부를 바꿔서 선택할 때마다 신청할 수 있는 이벤트의 child node가 삭제되도록 함
        $(document).ready(function(){
             $('select#category_dropdown').change(function () {
                 var member_category = $(this).find("option:selected").val();
                 var member = $('select#member_id_dropdown').find("option:selected");
                 var guest = $('select#guest_id_dropdown').find("option:selected");
                 if (member_category === 'with' && !member.text().includes("이름을 선택해주세요")) {
                     send_request_to_get_event_options(member.val(), 1)
                 } else if (member_category === 'guest' && !guest.text().includes("이름을 선택해주세요")) {
                     send_request_to_get_event_options(guest.val(), 0)
                 } else {
                     var events_div = $("div#event_select_div");
                     events_div.empty();
                 }
             })
        });


        // 위드 단원의 이름이 선택되었을 때
        $(document).ready(function(){
             $('select#member_id_dropdown').change(function () {
                 var member_id = $(this).find("option:selected").val();
                  send_request_to_get_event_options(member_id, 1)
                 });
            });


        // 게스트의 이름이 선택되었을 때
        $(document).ready(function(){
             $('select#guest_id_dropdown').change(function () {
                 var member_id = $(this).find("option:selected").val();
                    send_request_to_get_event_options(member_id, 0)
                 });
            });



    </script>

{% endblock %}
