{% load staticfiles %}

<!--Modal large -->
<form method="post" action="" id="modal-new_member">
    {% csrf_token %}

    <div class="modal-header">
        <h3 class="modal-title" style="color: black;">
            위드 봉사자 등록
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body" id="modal-body">
        <div class="row mb20">
            <div class="col-md-12">
                <p>
                * 봉사자 등록 감사합니다!
                </p>
            </div>

        {% for field in form %}
            <div class="form-group{% if field.errors %} invalid{% endif %} required">
                {{ field }}
                {% for error in field.errors %}
                    <p class="help-block" style="color: darkred;">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        <button type="button" class="submit-btn btn btn-primary">제출</button>
    </div>

</form>



